Repository opengeospatial/ogcapi-features, pull requests merged in 2023-04, with the labels that each got.

#815 Allow extension/user-defined functions to be used in place of booleans.
  cql2/standard/schema/cql2.bnf
  cql2/standard/schema/cql2.json
  cql2/standard/schema/cql2.yml
Labels: CQL2

#802 Add additional content around escaping in string literals.
  cql2/standard/annex_ats_cql2-text.adoc
  cql2/standard/clause_6_basic_cql2.adoc
  cql2/standard/clause_8_encodings.adoc
  cql2/standard/requirements/cql2-text/REQ_escaping.adoc
  cql2/standard/schema/cql2.bnf
Labels: CQL2

#810 Clarify 'crs' member in a Collection
  core/openapi/ogcapi-features-1.yaml
  core/standard/clause_7_core.adoc
Labels: Part 1: Core

#808 Update datetime/bbox/limit parameters (REQ and ATS)
  core/standard/abstract_tests/core/ATS_fc-bbox-definition.adoc
  core/standard/abstract_tests/core/ATS_fc-bbox-response.adoc
  core/standard/abstract_tests/core/ATS_fc-limit-definition.adoc
  core/standard/abstract_tests/core/ATS_fc-limit-response.adoc
  core/standard/abstract_tests/core/ATS_fc-time-definition.adoc
  core/standard/abstract_tests/core/ATS_fc-time-response.adoc
  core/standard/requirements/core/REQ_fc-bbox-definition.adoc
  core/standard/requirements/core/REQ_fc-time-definition.adoc
  core/standard/requirements/core/REQ_fc-time-response.adoc
Labels: Part 1: Core

#812 Add link template to features
  core/standard/clause_7_core.adoc
  core/standard/recomendations/core/REC_fc-md-item-links.adoc
Labels: Part 1: Core

#819 Clarify context of normative statements about link properties
  core/standard/recomendations/core/REC_fc-md-descriptions.adoc
  core/standard/recomendations/core/REC_sfc-md-links.adoc
  core/standard/requirements/core/REQ_f-links.adoc
  core/standard/requirements/core/REQ_fc-md-items-links.adoc
  core/standard/requirements/core/REQ_fc-md-links.adoc
  core/standard/requirements/core/REQ_fc-rel-type.adoc
Labels: Part 1: Core

#823 Add informative clause about schemas.
  extensions/transactions/create-replace-update-delete/standard/clause_6_create-replace-delete.adoc
Labels: Part 4: Create/Replace/Update/Delete

#813 Fix requirement URIs, refactor Queryables requirements
  extensions/filtering/standard/annex_ats.adoc
  extensions/filtering/standard/annex_bibliography.adoc
  extensions/filtering/standard/clause_5_conventions.adoc
  extensions/filtering/standard/clause_6_queryables.adoc
  extensions/filtering/standard/clause_8_filter.adoc
  extensions/filtering/standard/clause_9_features.adoc
  extensions/filtering/standard/recommendations/features-filter/REC_json-encoding.adoc
  extensions/filtering/standard/recommendations/features-filter/REC_text-encoding.adoc
  extensions/filtering/standard/recommendations/filter/REC_filter-crs-list.adoc
  extensions/filtering/standard/recommendations/queryables/REC_queryables-schema.adoc
  extensions/filtering/standard/requirements/features-filter/REQ_get-queryables-op.adoc
  extensions/filtering/standard/requirements/features-filter/REQ_queryables-link.adoc
  extensions/filtering/standard/requirements/filter/REQ_filter-crs-param.adoc
  extensions/filtering/standard/requirements/queryables-query-parameters/REQ_parameters.adoc
  extensions/filtering/standard/requirements/queryables/REQ_expression-construction.adoc
  extensions/filtering/standard/requirements/queryables/REQ_get-queryables-op.adoc
  extensions/filtering/standard/requirements/queryables/REQ_get-queryables-response.adoc
  extensions/filtering/standard/requirements/queryables/REQ_queryables-link.adoc
  extensions/filtering/standard/requirements/requirements_class_filter.adoc
  extensions/filtering/standard/requirements/requirements_class_queryables-query-parameters.adoc
  proposals/search/global-list-of-queryables.adoc
Labels: Part 3: Filtering
